* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.head {
    margin: auto;
    display: flex;
    width: 1200px;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px;

}

.box {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    transition-duration: 0.5s;   

}

#btn {
    margin: auto;
    width: 1000px;
    display: flex;
    justify-content: center;
    border: 3px solid rgb(85, 112, 231);
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


#btn:hover {
    color: white;
    background-color: rgb(85, 112, 231);
}

#btn:active {
    border: 2px solid black;
}

.input {
    width: 200px;
    height: 25px;
    font-size: 17px;
    text-align: center;
    border-radius: 3px;
}