body{
    display: flex;
}

.container {
    display:flex;
    margin-top: 5px;
    width: 200px;
}

.area >div {
    margin: 10px;
}


/* x버튼 */
.remove-row{
    display: inline-block;
    margin-left: 5px;

    cursor: pointer;
    user-select: none;
  }
  
  .remove-row:hover{
    font-weight: bold;
  }
  
  .remove-row:active{
    font-weight: bold;
    color:red;
  }